link(rel="stylesheet",href="http://localhost:8080/stylesheets/accountvalidator.css")
div#temp
	div.title-header.accountvalidator-header
		h2 Pending Accounts
script(src='http://localhost:8080/javascripts/accountvalidator.js')
