link(rel="stylesheet",href="http://localhost:8080/stylesheets/announcementposter.css")
div#temp.col-lg-8
	div.title-header.announcementposter-header
		h2 Make an announcement
	div#input-content
		div#title-container
			h5 Title
			input#title.form-control(type="text",style="color:black",placeholder="Write an awesome title")
		div#message-container
			h5 Message
			textarea#message.form-control(placeholder="A great message would be great.")
		div.footer
			input#submit.btn(type="button",value="SUBMIT")
div.col-lg-4
	div.title-header.announcementhistory-header
		h2 History
	div#announcements
a#top-link.text-center(href="#top")
	| Back to top &nbsp;
	span.glyphicon.glyphicon-chevron-up
script(src='http://localhost:8080/javascripts/announcementposter.js')
script(src='http://localhost:8080/javascripts/scroll-top-main.js')
script(src='http://localhost:8080/javascripts/jquery.scrollTo.min.js')