div#temp.col-lg-8
  p Title
  input#title(type="text",style="color:black")
  p Message
  textarea#message(style="resize:none;color:black;width:90%;height:200px;")
  br
  input#submit(type="button",value="Submit")
div.col-lg-4
  div#announcements
script(src='http://localhost:8080/javascripts/announcementposter.js')
