- for(var i = 0; i < online.length; i++){
    div.chatcontact.col-lg-6
      a(href="#")
        div.chatpicture(style="background-image:url(\'/#{online[i]['picture']}\');")
          div.mask
          span= online[i]["first_name"]
          span.green.right Online
- }
- for(var i = 0; i < offline.length; i++){
    div.chatcontact.col-lg-6
      a(href="#")
        div.chatpicture(style="background-image:url(\'/#{offline[i]['picture']}\');")
          div.mask
          span= offline[i]["first_name"]
          span.right Offline
- }
div.clearfix
div(style="height:20px;")
