div.col-lg-4.padding-vert
	div.title-header.announcement-header
		h2 Announcements
	ul#announcements.no-bullets
	
div.col-lg-8.padding-vert
	div.title-header.logbook-header
		h2 Logbook
	ul#logbook.no-bullets
	script(src='http://localhost:8080/javascripts/announcements.js')
	script(src='http://localhost:8080/javascripts/logbook.js')
