div.col-lg-4.padding-vert
	h3 Announcements
	ul.no-bullets
		- for(var i=0;i<15;i++){
			li
				div.post.post-PAD
					button.close.hoverClose(type="button",aria-hidden="true") &times; 
					div.row
						h3.title
							PF Committee Heads Survey
					p.op Projects and Activities Department
					p.date 11/29/14 9:03PM
					div.row
						p Good evening YSERS. We are here to ask you who are interested in being a committee head this coming PF 2014. Thank you!
		- }
		
div.col-lg-8.padding-vert
	h3 Logbook
	ul.no-bullets
		li
			div.post.post-Sec
				button.close.hoverClose(type="button",aria-hidden="true") &times; 
				div.row
					img.mini-pic(src='images/cla.jpg')
					h3.title Clarissa Estremos
				p.date 11/29/14 9:03PM
				div.row
					p I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! 
		li
			div.post.post-HR
				button.close.hoverClose(type="button",aria-hidden="true") &times; 
				div.row
					img.mini-pic(src='images/jv.jpg')
					h3.title John Vincent Sangkal
				p.date 11/29/14 9:03PM
				div.row
					p :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) 