div.col-lg-4.padding-vert
	h3 Announcements
	ul#announcements.no-bullets
	
div.col-lg-8.padding-vert
	h3 Logbook
	ul#logbook.no-bullets
		
// chatbox
div.col-lg-2.padding-vert.hidden-xs.hidden-sm.hidden-md
ul.no-bullets.side-menu
	li.chat-row
		ul.no-bullets
			li.metro.half
				img.tile-pic(src='images/jv.jpg')
			li.metro.half
				img.tile-pic(src='images/cla.jpg')
	li.chat-row
		ul.no-bullets
			li.metro.half
				img.tile-pic(src='images/cla.jpg')
			li.metro.half
				img.tile-pic(src='images/jv.jpg')
	li.chat-row
		ul.no-bullets
			li.metro.half
				img.tile-pic(src='images/cla.jpg')
			li.metro.half
				img.tile-pic(src='images/jv.jpg')
	li.chat-row
		ul.no-bullets
			li.metro.half
				img.tile-pic(src='images/cla.jpg')
			li.metro.half
				img.tile-pic(src='images/jv.jpg')
	li.chat-row
		ul.no-bullets
			li.metro.half
				img.tile-pic(src='images/cla.jpg')
			li.metro.half
				img.tile-pic(src='images/jv.jpg')
	li.chat-row
		ul.no-bullets
			li.metro.half
				img.tile-pic(src='images/cla.jpg')
			li.metro.half
				img.tile-pic(src='images/jv.jpg')
	li.chat-row
		ul.no-bullets
			li.metro.half
				img.tile-pic(src='images/cla.jpg')
			li.metro.half
				img.tile-pic(src='images/jv.jpg')
	script(src='http://localhost:8080/javascripts/announcements.js')
	script(src='http://localhost:8080/javascripts/logbook.js')
