extends layout

block content
	div#header.padding-vert(data-spy="affix",data-offset-top="60",data-offset-bottom="200")
		div.container
			div.row
				h1#YSESCentralText(style='float:left') YSES Central
				div.btn-group.hidden-xs.hidden-sm.hidden-md(style='float:right')
					button.btn-name.dropdown-toggle(type="button",data-toggle="dropdown")
						h3#name Name
							img(src='images/cla.jpg',style='width:40px;margin-left:15px;')
					ul.dropdown-menu.metro-dropdown(role="menu")
						li
							a.bold(href="1") Action
						li
							a.bold(href="2") Another action
						li
							a.bold(href="3") Something else here
						li.divider
						li
							a(href="fekyoulol") Separated link
				div.clearfix
	div.container
		div.row
			div#content.col-lg-10
				div.col-lg-4.padding-vert
					script(src='javascripts/announcements.js')
					h3 Announcements
					ul.no-bullets
						li
							div.post.post-PAD
								button.close.hoverClose(type="button",aria-hidden="true") &times; 
								div.row
									span.label.label-PAD PAD
									h3.title
										PF Committee Heads Survey
								p.date 11/29/14 9:03PM
								div.row
									p Good evening YSERS. We are here to ask you who are interested in being a committee head this coming PF 2014. Thank you!
						li
							div.post.post-HR
								button.close.hoverClose(type="button",aria-hidden="true") &times; 
								div.row
									h3.title CSC Post-update
										span.label.label-HR HR
								p.date 11/29/14 9:03PM
								div.row
									p To all those who passed their CSCs on time/almost on time, thank you very much for participating! For those who haven't, please still try to pass them for the improvement of other YSERs. Use all the CSCs, whether painful or not, to improve yourself. Still, filter things out guyths! Di lahat yan ay totoo. Goodluck sa acads! <3
						li
							div.post.post-Scho
								button.close.hoverClose(type="button",aria-hidden="true") &times; 
								div.row
									h3.title Scho Session Math 27
										span.label.label-Scho Scho
								p.date 11/29/14 9:03PM
								div.row
									p To all interested, please be informed that we have approved the request of RAMpage to conduct a Scho Session about Math 27 for their upcoming exam on December 1.
									p Higher batches are encouraged to join and help.
						li
							div.post.post-Fin
								button.close.hoverClose(type="button",aria-hidden="true") &times; 
								div.row
									h3.title Projector FRA reminder
										span.label.label-Fin Fin
								p.date 11/29/14 9:03PM
								div.row
									p Please be informed that the deadline for the projector FRA is on the end of this sem.
									p We hope that you will be able to reach our quota of 3000 pesos. Goodluck, YSERs!
						li
							div.post.post-Exec
								button.close.hoverClose(type="button",aria-hidden="true") &times; 
								div.row
									h3.title GA moved
										span.label.label-Exec Exec
								p.date 11/25/14 4:23PM
								div.row
									p Good day, residents! Our GA is moved to November 26, 2014, Wednesday. This will be our last GA for this semester.
						
				div.col-lg-8.padding-vert
					h3 Logbook
					ul.no-bullets
						li
							div.post.post-Sec
								button.close.hoverClose(type="button",aria-hidden="true") &times; 
								div.row
									img.mini-pic(src='images/cla.jpg')
									h3.title Clarissa Estremos
								p.date 11/29/14 9:03PM
								div.row
									p I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! 
						li
							div.post.post-HR
								button.close.hoverClose(type="button",aria-hidden="true") &times; 
								div.row
									img.mini-pic(src='images/jv.jpg')
									h3.title John Vincent Sangkal
								p.date 11/29/14 9:03PM
								div.row
									p :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) 
			div.col-lg-2.padding-vert.hidden-xs.hidden-sm.hidden-md
				h3 Chat
				div.row
					div.col-lg-6.tile
						img.tile-pic(src='images/cla.jpg')
					div.col-lg-6.tile
						img.tile-pic(src='images/jv.jpg')
				div.row
					div.col-lg-6.tile
						img.tile-pic(src='images/jv.jpg')
					div.col-lg-6.tile
						img.tile-pic(src='images/cla.jpg')
			script.
				