doctype html
html
	head
		title YSES Central
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
		link(rel='stylesheet', href='/stylesheets/index.css')
		link(rel='stylesheet', href='/stylesheets/custom-navbar.css')
		meta(name="viewport",content="width=device-width, initial-scale=1.0 user-scalable=no")

	body(data-type="background",data-speed="2")
		// top bar
		nav.navbar.navbar-default.navbar-fixed-top
			div.container
				div.navbar-header
					button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#navbar",aria-expanded="false",aria-controls="navbar")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="#")
						img#logo.img-responsive(src="../images/logoAllWhite.png")
						h2(style="position:relative;margin:0px;top:-7px;") YSES-Central
				div#navbar.collapse.navbar-collapse
					ul.nav.navbar-nav
						li.navbutton
							a(href="#",data-toggle="modal",data-target="#signupModal") Sign Up
							// modal for sign up
							div#signupModal.modal.fade
								div.modal-dialog
									div.modal-content.text-center
										form#signupform(action="signup",method="post",enctype="multipart/form-data")
											div.text-left.modal-header
												button.close(type="button",data-dismiss="modal")
													span(aria-hidden="true") &times;
													span.sr-only Close
												h4.modal-title(style='margin-bottom:10px;') Sign Up
											div.modal-body
												div.first-column
													span#picture-div
														input#photo.form-control(type="file",name="photo",style='display:none')
														div#upfile1.text-center
															span Profile Picture: 
															span.glyphicon.glyphicon-picture
														div#bottom-input-file.text-center NO FILE SELECTED
														div#preview
												div.second-column
													ul.no-bullets.container
														li First name:
															input.input-text.form-control(type="text",name="first-name")
														li Middle name:
															input.input-text.form-control(type="text",name="middle-name")
														li Last name:
															input.input-text.form-control(type="text",name="last-name")
														li Org Classification:
															br
															select.form-control(form="signupform",name="org-class")
																option(value="Active") Active
																option(value="Inactive") Inactive
																option(value="Alumni") Alumni
														li Department:
															select.form-control(form="signupform",name="department")
																optgroup(label="Projects and Activities")
																	option(value="jpad") Junior
																	option(value="spad") Senior
																option(value="vl") Visuals and Logistics
																option(value="sec") Secretariat
																option(value="scho") Scholastics
																option(value="fin") Finance
																option(value="hr") Human Resources
																option(value="exec") Executive (EO Only)
															input#isExec(type="checkbox",name="isExec" disabled)
															span Executive
														li Student Number:
															br
															div#student-number.input-group
																input#sn-year.form-control.sn(type="text",maxlength="4",name="sn-year",placeholder="20XX")
																span.glyphicon.glyphicon-minus.input-group-addon(style="top:0px;")
																input#sn-number.form-control.sn(type="text",maxlength="5",name="sn-number",placeholder="XXXXX")
														li Username:
															br
															input#username.form-control(type="text",name="username")
														li Password:
															input#password.form-control(type="password",name="password")
														li Retype Password:
															input#retype-password.form-control(type="password",name="retype-password")
														li Organization Batch:
															select.form-control(form="signupform",name="org-batch")
																option(value="Charter") Charter
																option(value="Synergy") Synergy
																option(value="RAMpage") RAMpage
														li Mentor:
															br
															input.accountsAutocomplete.input-text.form-control(type="text",name="mentor")
														li#mentees
															span Mentees:
															div.mentee-field.input-group
																input.accountsAutocomplete.mentee-textfield.form-control(type="text",name="mentee-1")
																span.input-group-btn
																	button.add-mentee.btn.btn-default(type="button",value="+")
																		span.glyphicon.glyphicon-plus
														li Birthday:
															input.form-control(type="date",name="bday")
														li Home Address
															input.input-text.form-control(type="text",name="homeAdd")
														li College Address
															input.input-text.form-control(type="text",name="collegeAdd")
														input#imageleft(type="hidden",name="imageleft")
														input#imagetop(type="hidden",name="imagetop")
														input#numberofmentees(type="hidden",name="numberofmentees")
														input#univbatch(type="hidden",name="univ-batch")
											div.modal-footer
												button.btn.btn-warning(type="button",data-dismiss="modal",data-toggle="modal",data-target="#loginModal") Existing user?
												button.btn.btn-default(type="submit") Submit
						li.navbutton
							a(href="#",data-toggle="modal",data-target="#loginModal") Log In
							// modal for log in
							div#loginModal.modal.fade
								div.modal-dialog
									div.modal-content.text-center
										form#loginform(action='login',method="post")
											div.text-left.modal-header
												button.close(type="button",data-dismiss="modal")
													span(aria-hidden="true") &times;
													span.sr-only Close
												h4.modal-title Log In
											div.modal-body
												div.form-group
														ul.list-inline.container
															li Username:
																input.form-control(type="text",name="username")
															br
															li Password:
																input.form-control(type="password",name="password")
											div.modal-footer
												button.btn.btn-warning(type="button",data-dismiss="modal",data-toggle="modal",data-target="#signupModal") No account yet?
												input.btn.btn-default(type="submit",value="Submit")
		// image carousel
		div.encloseall.container-fluid.hidden-xs.hidden-sm.hidden-md
			// image gallery
			div.gallery
				div#myCarousel.carousel.slide(data-ride="carousel")
					div.carousel-inner
						div.active.item
							img.image.img-responsive(src='../images/pfjf.png')
						div.item
							img.image.img-responsive(src='../images/for.jpg')
						div.item
							img.image.img-responsive(src='../images/city.jpg')
						div.item
							img.image.img-responsive(src='../images/for.jpg')
					a.carousel-control.left(href="#myCarousel",data-slide="prev")
						span.glyphicon.glyphicon-chevron-left
					a.carousel-control.right(href="#myCarousel",data-slide="next")
						span.glyphicon.glyphicon-chevron-right
					ol.carousel-indicators
						li.active(data-target="#myCarousel",data-slide-to="0")
							//img(src='../images/eventbutton.png')
						li(data-target="#myCarousel",data-slide-to="1")
						li(data-target="#myCarousel",data-slide-to="2")
						li(data-target="#myCarousel",data-slide-to="3")
		// content
		div.encloseall.container
			div.row
				div.col-lg-12
					div.col-lg-6.padding-vert
						ul.no-bullets
							li
								div.box
									div.row
										h3.title About
									div.row
										p Lorem ipsum
							li
								div.box
									div.row
										h3.title About
									div.row
										p Lorem ipsum
					div.col-lg-6.padding-vert
						ul.no-bullets
							li
								div.box
									div.row
										h3.title About
									div.row
										p Lorem ipsum
							li
								div.box
									div.row
										h3.title About
									div.row
										p Lorem ipsum
		
		script(src='javascripts/jquery-2.1.1.min.js')
		script(src='javascripts/jquery-ui.min.js')
		script(src='javascripts/bootstrap.min.js')
		script(src='javascripts/jquery.nicescroll.js')
		script(src='javascripts/jquery.mousewheel.min.js')
		script(src='javascripts/jquery.simplr.smoothscroll.min.js')
		script(src='javascripts/parallax.js')
		script(src='javascripts/carousel.js')
		script(src='javascripts/signup.js')
		script(src='javascripts/bootstrap-tooltip.js')
