doctype html
html
	head
		title YSES Central
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/index.css')
		meta(name="viewport",content="width=device-width, initial-scale=1.0 user-scalable=no")
	body
		h1 Log in
		form(action='login')
			span Username:
			input(type="text")
			span Password:
			input(type="password")
			input(type="submit")
		h1 Sign up
		form
			p First name:
				input(type="text",name="first-name")
			p Middle name:
				input(type="text",name="middle-name")
			p Last name:
				input(type="text",name="last-name")
			P Org Classification:
				select
					option Active
					option Inactive
					option Alumni
			P Department:
				select
					optgroup(label="Projects and Activities")
						option Junior
						option Senior
					option Visuals and Logistics
					option Secretariat
					option Scholastics
					option Finance
					option Human Resources
			p Student Number:
				input(type="text",name="sn-year")
				span -
				input(type="text",name="sn-number")
			p Username:
				input(type="text",name="username")
			p Password:
				input(type="password",name="password")
			p Organization Batch:
				select
					option Charter
					option Synergy
					option RAMpage
			p University Batch:
				select
					option 1998
					option 2012
					option 2014
			p Mentor:
				input(type="text",name="mentor")
			P Mentees:
				input(type="text",name="username")
			p Birthday:
				input(type="date",name="bday")
			p Home Address
				input(type="text",name="homeAdd")
			p College Address
				input(type="text",name="collegeAdd")
			

