doctype html
html
	head
		title YSES Central
		link(rel='stylesheet',href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet',href='/stylesheets/index.css')
		meta(name="viewport",content="width=device-width, initial-scale=1.0 user-scalable=no")
	body
		h1 Log in
		form#loginform(action='login',method="post")
			span Username:
			input(type="text",name="username")
			span Password:
			input(type="password",name="password")
			input(type="submit")
		h1 Sign up
		form#signupform(action="signup",method="post",enctype="multipart/form-data")
			ul.no-bullets
				li
					span First name:
					input(type="text",name="first-name")
				li
					span Middle name:
					input(type="text",name="middle-name")
				li
					span Last name:
					input(type="text",name="last-name")
				li
					span Org Classification:
					select(form="signupform",name="org-class")
						option(value="Active") Active
						option(value="Inactive") Inactive
						option(value="Alumni") Alumni
				li
					span Department:
					select(form="signupform",name="department")
						optgroup(label="Projects and Activities")
							option(value="jpad") Junior
							option(value="spad") Senior
						option(value="vl") Visuals and Logistics
						option(value="sec") Secretariat
						option(value="scho") Scholastics
						option(value="fin") Finance
						option(value="hr") Human Resources
				li
					span Student Number:
					input(type="text",name="sn-year")
					span -
					input(type="text",name="sn-number")
				li
					span Username:
					input(type="text",name="username")
				li
					span Password:
					input(type="password",name="password")
				li
					span Organization Batch:
					select(form="signupform",name="org-batch")
						option(value="Charter") Charter
						option(value="Synergy") Synergy
						option(value="RAMpage") RAMpage
				li
					span University Batch:
					select(form="signupform",name="univ-batch")
						option(value="1998") 1998
						option(value="2012") 2012
						option(value="2014") 2014
				li
					span Mentor:
					input(type="text",name="mentor")
				li#mentees
					span Mentees:
					div.mentee-field
						input.mentee-textfield(type="text",name="mentee-1")
						input.add-mentee(type="button",value="Add")
				li
					span Birthday:
					input(type="date",name="bday")
				li
					span Home Address
					input(type="text",name="homeAdd")
				li
					span College Address
					input(type="text",name="collegeAdd")
				li
					span Picture
					input(id="photo",type="file",name="photo")
					div#preview
				input#imageleft(type="hidden",name="imageleft")
				input#imagetop(type="hidden",name="imagetop")
				input#numberofmentees(type="hidden",name="numberofmentees")
			input(type="submit")
	script(src='javascripts/jquery-2.1.1.min.js')
	script(type="text/javascript",src="javascripts/jquery-ui.min.js")
	script(src="javascripts/sha3.js")
	script(src="javascripts/signup.js")
