div.col-lg-4.padding-vert
	script(src='javascripts/announcements.js')
	h3 Announcements
	ul.no-bullets
		li
			div.post.post-PAD
				div.row
					h3.title PF Committee Heads Survey
						span.label.label-PAD PAD
						button.close.hoverClose(type="button",aria-hidden="true") &times; 
				p.date 11/29/14 9:03PM
				div.row
					p Good evening YSERS. We are here to ask you who are interested in being a committee head this coming PF 2014. Thank you!
		li
			div.post.post-HR
				div.row
					h3.title CSC Post-update
						span.label.label-HR HR
						button.close.hoverClose(type="button",aria-hidden="true") &times; 
				p.date 11/29/14 9:03PM
				div.row
					p To all those who passed their CSCs on time/almost on time, thank you very much for participating! For those who haven't, please still try to pass them for the improvement of other YSERs. Use all the CSCs, whether painful or not, to improve yourself. Still, filter things out guyths! Di lahat yan ay totoo. Goodluck sa acads! <3
		li
			div.post.post-Scho
				div.row
					h3.title Scho Session Math 27
						span.label.label-Scho Scho
						button.close.hoverClose(type="button",aria-hidden="true") &times; 
				p.date 11/29/14 9:03PM
				div.row
					p To all interested, please be informed that we have approved the request of RAMpage to conduct a Scho Session about Math 27 for their upcoming exam on December 1.
					p Higher batches are encouraged to join and help.
		li
			div.post.post-Fin
				div.row
					h3.title Projector FRA reminder
						span.label.label-Fin Fin
						button.close.hoverClose(type="button",aria-hidden="true") &times; 
				p.date 11/29/14 9:03PM
				div.row
					p Please be informed that the deadline for the projector FRA is on the end of this sem.
					p We hope that you will be able to reach our quota of 3000 pesos. Goodluck, YSERs!
		li
			div.post.post-Exec
				div.row
					h3.title GA moved
						span.label.label-Exec Exec
						button.close.hoverClose(type="button",aria-hidden="true") &times; 
				p.date 11/25/14 4:23PM
				div.row
					p Good day, residents! Our GA is moved to November 26, 2014, Wednesday. This will be our last GA for this semester.
		
div.col-lg-8.padding-vert
	h3 Logbook
	ul.no-bullets
		li
			div.post.post-Sec
					div.row
						img.mini-pic(src='images/cla.jpg')
						h3.title Clarissa Estremos
							button.close.hoverClose(type="button",aria-hidden="true") &times; 
					p.date 11/29/14 9:03PM
					div.row
						p I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! I love penguins! 
		li
			div.post.post-HR
					div.row
						img.mini-pic(src='images/jv.jpg')
						h3.title John Vincent Sangkal
							button.close.hoverClose(type="button",aria-hidden="true") &times; 
					p.date 11/29/14 9:03PM
					div.row
						p :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) 