doctype html
html
	head
		title YSES Central
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/index.css')
		meta(name="viewport",content="width=device-width, initial-scale=1.0 user-scalable=no")
	
	body(data-type="background",data-speed="")
		div.encloseall.padding-vert
			div.box.main.col-lg-1.col-sm-1.col-xs-1
				
			div.carou
				div.box.sign
					div#myCarousel2.carousel.slide(style="float:left;height:250px")
						ol.carousel-indicators
							li(data-target="#myCarousel2",data-slide-to="0",class="active")
							li(data-target="#myCarousel2",data-slide-to="1")
							li(data-target="#myCarousel2",data-slide-to="2")
						div.carousel-inner
							div.item.active.text-justify
								h2 About
								hr
								p Lorem ipsum dorum hi hey there this is sample text dmsal nflas njf nafm mkfasm lkmf kslamf mkflsam fskmf kmfsk mfsmk mkfs  dms, fmkdmf
							div.item
								h2 Objective
								hr
								p Lorem ipsum dorum hi hey there this is sample text dmsal nflas njf nafm mkfasm lkmf kslamf mkflsam fskmf kmfsk mfsmk mkfs  dms, fmkdmf
							div.item
								h2 Vision
								hr
								p Lorem ipsum dorum hi hey there this is sample text dmsal nflas njf nafm mkfasm lkmf kslamf mkflsam fskmf kmfsk mfsmk mkfs  dms, fmkdmf
				div.box.sign
					div#myCarousel1.carousel.slide(style="float:left;height:250px")
						ol.carousel-indicators
							li(data-target="#myCarousel1",data-slide-to="0",class="active")
							li(data-target="#myCarousel1",data-slide-to="1")
						div.carousel-inner
							//- SIGN UP
							div.item.active.form-group
								form
									h1 Sign up
									hr
									ul.list-inline
										li First name:
											input.form-control(type="text",name="first-name")
										li Middle name:
											input.form-control(type="text",name="middle-name")
										li Last name:
											input.form-control(type="text",name="last-name")
										li Org Classification:
											br
											select.form-control
												option Active
												option Inactive
												option Alumni
										li Department:
											select.form-control
												optgroup(label="Projects and Activities")
													option Junior
													option Senior
												option Visuals and Logistics
												option Secretariat
												option Scholastics
												option Finance
												option Human Resources
										li Student Number:
											br
											input.form-control(type="text",style="float:left;width:80px",maxlength="4",name="sn-year",placeholder="20XX")
											span(style="float:left;") &nbsp;-&nbsp; 
											input.form-control(type="text",style="float:left;width:80px",maxlength="5",name="sn-number",placeholder="XXXXX")
										li Username:
											br
											input.form-control(type="text",name="username")
										li Password:
											input.form-control(type="password",name="password")
										li Organization Batch:
											select.form-control
												option Charter
												option Synergy
												option RAMpage
										li University Batch:
											br
											select.form-control
												option 1998
												option 2012
												option 2014
										li Mentor:
											br
											input.form-control(type="text",name="mentor")
										li#mentees
											span Mentees:
											div.mentee-field
												input.mentee-textfield.form-group(type="text",name="mentee-1")
												input.add-mentee.btn.form-group(type="button",value="Add")
										li Birthday:
											input.form-control(type="date",name="bday")
										li Home Address
											input.form-control(type="text",name="homeAdd")
										li College Address
											input.form-control(type="text",name="collegeAdd")
									input.btn.btn-primary(type="submit")
							//- LOG IN
							div.item.form-group
								form(action='login')
									h1 Log in
									hr
									ul.list-unstyled
										li Username:
											input.form-control(type="text")
										li Password:
											input.form-control(type="password")
									input.btn.btn-primary(type="submit")
			div.box.gallery
				div#myCarousel.carousel.slide(style="position:relative;width:540px;height:250px;")
					div.carousel-inner
						div.active.item
							div#image1.image
						div.item
							div#image2.image
						div.item
							div#image3.image
					a.carousel-control.left(href="#myCarousel",data-slide="prev") &lsaquo;
					a.carousel-control.right(href="#myCarousel",data-slide="next") &rsaquo;
					//- ssssuch index
		script(src='javascripts/jquery-2.1.1.min.js')
		script(src='javascripts/bootstrap.min.js')
		script(src='javascripts/jquery.nicescroll.js')
		script(src='javascripts/parallax.js')
		script(src='javascripts/signup.js')
		//- script(src='javascripts/preventscroll.js')
