doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='javascripts/jquery-2.1.1.min.js')
		script(src='javascripts/bootstrap.min.js')
		script(src='javascripts/content-request.js')
		meta(name="viewport",content="width=device-width, initial-scale=1.0 user-scalable=no")
	body
		block content