html
	head
		title Test
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	body
		div.dropdown
			button#dropdownMenu.btn.btn-default.dropdown-toggle(type="button",data-toggle="dropdown") Test
				span.caret
			div.dropdown-menu(role="menu",aria-labelledby="dropdonMenu")
				p Content
				p More content
	script(src='http://localhost:8080/javascripts/jquery-2.1.1.min.js')
	script(src='http://localhost:8080/javascripts/bootstrap.min.js')
