html
	head
		title Search
	body
		input#field(type="text")
		ul#result
		script(src='javascripts/jquery-2.1.1.min.js')
		script.
			$(document).ready(function(){
				$("#field").on("keyup",function(){
					$("#result").html("");
					if($("#field").val()){
						$.ajax({
							url: "search",
							data: "substring="+$("#field").val(),
							type: "GET",
							success: function (res) {
								if(res == "0"){
									$("#result").append("<li>No result found.</li>");
								}
								else{
									for(var i = 0; i < res.length; i++){
										$("#result").append("<li>"+res[i]["full_name"]+"</li>")
									}
								}
							},
							error: function (e){
								console.dir(e);
							}
						});
					}
				});
			});