link(rel="stylesheet",href="/stylesheets/YSERs.css")
div#wrap
	div.title-header.ysers-header
		h2 YSERs
	div
		.pull-right(style='position:relative')
			button#buttonOptions.btn.btn-default(type='button', data-toggle='popover', data-placement='bottom')
				| Options
				span.caret
		p#YSERs
		p#resultText
	div#result
	.clearfix
script(src="/javascripts/YSERs.js")
