#temp{
	height:100%;
	width:100%;
	/*semtheng here*/
}

#temp .to-validate{
	padding:0px;

	/*min-height:380px;
	max-height:500px;*/
	height:420px;
	width:100%;

	color:black;

	margin-bottom:15px;

	background-color:rgba(240,240,240,1);

	margin-bottom:10px;
}

.to-validate-button{
	position:absolute;

	margin-top:37%;
	width:100%;
}

#temp img{
	margin:15px;

	width:130px;
}

#temp .table{
	float:left;

	margin-top:10px;
	margin-right:10px;

	height:70%;
	width:395px;

}

#temp .table td{
	border-color:rgba(200,200,200,1);
}

.account-image{
	float:left;
}

.account-data{
	float:left;
}

#temp button{
	position:relative;
	float:left;

	height:40px;
	width:50%;
	border:0px;

	font-size:1.69em;

	margin-top:0px;
	margin-bottom:0px;

	top:0px;


	background-color:rgba(240,240,240,0);
	color:black;
}

#temp button:hover{
	color:blue;
}

#temp a{
	cursor:pointer;
}
