#temp{
	padding-right:15px;
}

#input-content{
	background-color:rgba(200,200,200,1);
	width:100%;
	height:100%;

	color:black;

	margin-top:12px;
	padding:0;
}

#input-content textarea{
	width:100%;
	height:200px;
	resize:none;
	border-radius:0px;
	border:0px;
	background-color:rgba(250,250,250,1); 
	color:black;
	margin-top:0px;
}

#input-content input[type="text"]{
	border-radius:0px;
	border:0px;
	background-color:rgba(250,250,250,1); 
	color:black;
	margin-top:0px;
	margin-top:0px;
}

#input-content h5{
	position:relative;
	background-color:rgba(42,99,189,1);
	color:white;
	height:30px;
	left:0%;
	width:100%;
	padding-left:10px;
	padding-top:7px;
	margin-bottom:0px;
	font-weight:bold;
}

#title-container{
	padding-left:35px;
	padding-right:35px;
	padding-top:25px;
	margin-bottom:0px;
}

#message-container{
	padding-left:35px;
	padding-right:35px;
	padding-top:5px;
	padding-bottom:25px;
}

.footer{
	padding-left:35px;
	padding-right:35px;
	margin-top:0px;
	margin-bottom:20px;
	height:45px;
}

#announcements li{
	list-style:none;
}

#submit{
	background-color:rgba(42,99,189,1);
	position:relative;
	float:right;
	
	font-size:20px;
	font-weight:bold;
	color:white;

	width:100%;
	height:100%;
	margin-bottom:0px;
	border-radius:0px;
}

#submit:hover, #submit:focus{
	background-color:rgba(180,180,250,1);
	font-weight:bold;
	color:black;
}

/*FOR SCROLL TOP LAYOUT*/

#top-link{ 
	width:10%;
	display:none; 
	position:fixed; 
	left:1%; 
	bottom:10px; 
	color:black; 
	font-weight:bold; 
	text-decoration:none; 
	border:0px; 
	background:rgba(255,255,255,1); 
	padding:10px; 

	font-size:15px;
}



a{
	color:black;
	font-weight:bold;
	text-decoration:none;
}

a:hover, a:focus{
	color:white;
	text-decoration:none;
}