#chatbar	{
	position:fixed;
	margin-top:60px;
	width:275px;
	height:calc(100vh - 60px);
	right:0;
	background-color:rgba(0,0,0,0.2);
	-webkit-transition:right 0.75s ease;
	-ms-transition:right 0.75s ease;
	-moz-transition:right 0.75s ease;
	transition:right 0.75s ease;
	top:0;
	bottom:0;
}

.sidebarclosed	{
	right:-275px !important;
	background-color:rgba(0,0,0,0);
}

.center	{
	position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.searchbaricon	{
	color:white !important;
	margin-left:8px;
}

.searchbar	{
	padding-left:30px;
}

.searchbar:focus	{
	outline: none;
}

.searchbar::-webkit-input-placeholder { /* WebKit browsers */
	color:    #CFCFCF;
}
.searchbar:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #CFCFCF;
	opacity:  1;
}
.searchbar::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #CFCFCF;
	opacity:  1;
}
.searchbar:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:    #CFCFCF;
}

#chatcontainer	{
	position:relative;
	height:calc(100vh - 160px);
	overflow-y: auto;
	padding: 0 25px 0 25px;
	margin-top:10px;
	padding-bottom:10px;
}

.chatcontact	{
	padding:1px;
}

.chatcontact .chatpicture	{
	width:100%;
	height:100%;
	background-image:url('/uploads/tricycle.jpg');
	background-size:cover;
}

.chatcontact .filter	{
	width:100%;
	height:100%;
}


.chatcontact .offline	{
	background-color:rgba(0,0,0,0.5);
}

.chatpicture span	{
	color:white;
	font-size:12px;
	bottom:0;
	position:absolute;
	max-width:70px;
	overflow:hidden;
	white-space:nowrap;
}

.chatpicture .left	{
	margin-left:2px;
}

.chatpicture .right	{
	right:0;
	margin-right:2px;
}

.chatpicture .mask	{
	width:calc(100% - 2px);
	height:17%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 28%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(28%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 28%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 28%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 28%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 28%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	bottom:0;
	position:absolute;
}

.green	{
	color:#26FC23 !important;
}

.gray	{
	color:gray !important;
}

#chatwindowcontainer	{
	position:fixed;
	bottom:0;
	right:300px;
	color:white;
}

#chatwindowcontainer > div	{
	float:right;
	margin-left:5px;
	margin-right:5px;
	position:relative;
	width:250px;
}

.chatwindow	{
	height:28px;
	background:rgba(0,0,100,0.8);
}

.chatwindowopen	{
	position:relative;
	width:250px;
}

.chathead	{
	background:rgba(0,0,100,0.8);
	height:35px;
	width:250px;
	position:relative;
}

.chathead span	{
	color:white;
}

.chatbody	{
	height:237px;
	background:rgba(0,0,100,0.8);
	position:relative;
}

.chatbottom	{
	height:28px;
	background:rgba(0,0,100,0.8);
}

.chatbottom	input	{
	position:absolute;
	z-index:1;
	color:white;
	width:100%;
	height:100%;
	background:none;
	border:none;
	padding-left:10px;
	padding-right:10px;
}

.chatbottom	input:focus	{
	outline: none;
}

.fly	{
	position:absolute;
	top:-270px;
}

.no-margin	{
	margin:0;
}

.chatwindowbutton	{
	right:9px;
	position:absolute;
}

.chatwindowstatus	{
	margin-left:10px;
}

.chatwindowname	{
	color:white;
	overflow:hidden;
	white-space:nowrap;
}

.anchorfix	{
	display:block;
	height:100%;
}

.datetitle	{
	text-align:center;
	clear:both;
	margin-top:5px;
	margin-bottom:5px;
}

.chatsection	{
	max-width:200px;
	clear:both;
	padding:4px 7px 4px 7px;
}

.chatself	{
	float:right;
}

.chatmessages	{
	width:calc(100% - 3px);
	height:100%;
	overflow-y:auto;
	position:relative;
	font-size:13px;
}
