#chatbar	{
	position:fixed;
	margin-top:60px;
	width:275px;
	height:calc(100vh - 60px);
	right:0;
	background-color:rgba(0,0,0,0.2);
	-webkit-transition:all 0.75s ease;
	-ms-transition:all 0.75s ease;
	-moz-transition:all 0.75s ease;
	transition:all 0.75s ease;
}

.sidebarclosed	{
	right:-275px !important;
	background-color:rgba(0,0,0,0);
}

.searchbaricon	{
	position: relative;
  top: 50%;
  transform: translateY(-50%);
	color:white !important;
	margin-left:8px;
}

.searchbar	{
	padding-left:30px;
}

.searchbar:focus	{
	outline: none;
}

.searchbar::-webkit-input-placeholder { /* WebKit browsers */
	color:    #CFCFCF;
}
.searchbar:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #CFCFCF;
	opacity:  1;
}
.searchbar::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #CFCFCF;
	opacity:  1;
}
.searchbar:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:    #CFCFCF;
}

#chatcontainer	{
	height:calc(100vh - 160px);
	overflow-y: auto;
}
