body{
	font: 14px "Segoe UI Light", sans-serif;
	background:url('../images/bubble2.png');
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	background-color: #133c7b;

	overflow: visible;
}

#logo{
	position: relative;
	float:left;
	margin-left: 10px;
	margin-right: 15px;
	top:-6px;
	width:35px;
	height:auto;
}

#screen {
	overflow:hidden;
	width:250px;
	height:250px;
	clear:both;
	position:relative;
	background:white;
	cursor:move;
}

#loginform input {
	color:black;
}

.no-bullets {
	list-style:	none;
	padding: 0;
	margin:	2px;
}

.encloseall{
	color:white;
	margin-top: 100px;
	margin-bottom: 70px;
}

.box{
	background-color: 	rgba(0,0,50,1);
	height:				250px;
	padding-right:		15px;
	padding-left:		15px;
	margin-bottom:		5px;

	-webkit-transition: right .3s;
	transition: 		right .3s;
}

.gallery{
	width:100%;
	height:100%;
	margin:0px;
	background-color: rgba(100,100,100,1);
}

div.item{
	height:520px;
}

img.image{
	position:relative;
	top:-20%;
}

.navbutton{
	padding-right: 10px;
	padding-left: 10px;
}

.modal, #signupModal, #loginModal, .modal-backdrop{
	position: fixed;
	height:100%;
	padding:0;
	margin:0;
}

.modal-content{
	color: white;
	padding:9px 15px;
	background-color: rgba(20,20,100,0.99);
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border:0px;
}

.modal-body{
	width: 100%;
	max-height:350px;
	overflow-x:hidden;
	padding-left:12px;
	padding-right:12px;
	position:relative;
}

.mentee-field, #student-number{
	margin: 12px;
}

#mentees input{
	left:-12px;
	width:195px;
}

#student-number {
	margin-left:auto;
	margin-right:auto;
}

#student-number .sn{
	width:83px;
}

.add-mentee.btn, .remove-mentee.btn, span.input-group-addon{
	width:50px;
}

.add-mentee.btn, .remove-mentee.btn{
	left:-11px;
}

ul.container{
	padding:0%;
	width:90%;
}

ul.ui-autocomplete {
	z-index: 1100;
}

.navbutton li{
	margin-bottom: 12px;
}

::-webkit-scrollbar {
	width: 5px;
}

#photo{
	width:150px;

	font-size:10px;

	border-radius:0px;
}

#screen{
	position:relative;

	top:-20px;
	left:0;

	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}

#screen img{
	margin:0px;
	padding:0px;
	border:0px;

	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
}

#upfile1{
	float:relative;

	background-color:rgba(255,255,255,1);

	color:gray;

	padding-top:5px;

	height:30px;
	width:250px;
	cursor:pointer;
	font-size:1em;


	margin-bottom:20px;

	border-top-left-radius:3px;
	border-top-right-radius:3px;
}

#bottom-input-file{
	position:fixed;

	left:4.5%;

	top:120px;

	padding-top:5px;

	background-color:rgba(255,255,255,1);

	color:gray;

	height:30px;
	width:250px;

	font-size:10px;

	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}

#picture-div{
	position:relative;
}

.red-tooltip + .tooltip > .tooltip-inner {
	background-color: #f00;
}

.red-tooltip + .tooltip > .tooltip-arrow { 
	border-bottom-color:#f00;
}

/*for two column modals*/

.first-column {
  float: left;
  width: 47%;
  overflow-y:hidden;
}

.second-column {
  float: right;
  width: 50%;
  height:300px;
  overflow-y:auto;
}

.second-column input, .second-column select{
	width:245px;
}

/*normal size*/
@media screen and (min-width:769px) and (max-width: 1400px){
	ul.nav{
		float:right;
	}
}

::-webkit-scrollbar-track {
	background-color:rgba(255,255,255,1);
	border-radius: 0px;
}

::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color:rgba(0,0,0,1);
}
