.title-header{
	margin-top:0px;
}

#spadcontainer, #jpadcontainer{
	background-color:rgba(200,200,200,1);
	padding:30px;
	margin-bottom:20px;
	overflow:auto;
}

#event-buttons{
	float:left;
	width:100%;
}

button{
	position:relative;
	float:left;

	height:50px;
	width:12%;
	border:0px;

	font-size:1em;

	margin-top:0px;
	margin-bottom:10px;
	margin-left: 0%; 
	margin-right: 1%;

	top:0px;

	background-color:rgba(42, 99, 189,1);
	color:white;
}

button:hover{
	background-color:rgba(180,180,250,1);
	font-weight:bold;
	color:black;
}

#guide{
	width:100%;
}

#guide .guide-content{
	width:100%;
	padding:30px;
	float:left;
	color:rgba(255,255,255,1);
	background-color:rgba(30,30,30,1);
	margin-bottom:10px;
}

.event-title{
	font-weight:bold;
}

.date{
	margin-left:5px;
	font-size:10px;
}

.jpad-image{
	width:30px;
	margin-right:15px;
}

.jpad-name{
	position:relative;
	top:2px;
}

.header{
	margin-left:5px;
	color:black;
}

.stat-content{
	width:100%;
}

#spadcontainer .jpad-stat{
	float:left;
	background-color:rgba(25, 112, 187,1);
	color:white;
	height:130px;
	padding-top: 19px;
	margin-right:0.00%;
	margin-bottom:0.1%;
}

#spadcontainer .jpad-stat:hover{
	background-color:rgba(230,230,230,1);
	color:black;
	cursor:default;
}

#spadcontainer .jpad-stat p{
	margin-top:0px;
	margin-bottom:3px;
}

#spadcontainer .jpad-stat .name{
	font-weight:bold;
}


#jpadcontainer .jpad-stat{
	float:left;
	background-color:rgba(25, 112, 187,1);
	color:white;
	width:100%;
	height:100px;
	padding-top: 17px;
	margin-right:0.5%;
	margin-bottom:0.5%;
}

#jpadcontainer .jpad-stat p{
	margin-top:0px;
	margin-bottom:3px;
}

tr:hover{
	color:black;
	font-weight:bold;
}

.glyphicon{
	top:6px;
}

table, table tr, table td{
	border:0;
	border-color:gray;
}