body{
	height:100%;
}

#containerMAIN{
	height:100%;
	padding-top:90px;
}

#information{
	position:relative;

	width:100%;

	top:-6px;
}

#information .box{
	width:23.5%;
	margin-right:5px;
	margin-left:5px;
}

#profile-bar{
	margin-bottom:10px;
}

#profile-bar .box, #profile-bar .button .profile-button{
	background-color:rgb(0,50,100);

	margin-top:0px;
	margin-bottom:0px;
}

#profile-bar .box{
	color:white;
	margin-right:5px;
	margin-left:5px;
}

.box-group .box{
	width:89%;
	margin-right:0;
	margin-left:0;
}

.box-group .box:before{
	padding-top:97%;
}

.box-group img{
	width: 100%;
}

.box-group .button .box:before{
	padding-top:0px;
}

.box-group .button .box{
	height:50px;
}

.box{
	position: relative;
	float:left;

	margin-top:5px;
	margin-right:10px;
	margin-bottom:5px;

	width: 215px;
	
	color:black;
	background-color: rgba(200,200,200,0.9);

}

.box h1, .box h2, .box h3, .box h4{
	font-weight:bold;
}

.box:before{
	content: "";
	display: block;
	padding-top: 100%; 	
}

.profile-content{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.text{
	padding-left:20px;
	padding-right:20px;
	padding-top: 18px;
}

.button .profile-button{
	color:white;

	height:100%;
	width:100%;

	border:0px;
}

.button .profile-button:hover{
	color:rgb(100,200,255);
}

#information .profile-button:hover{
	color:rgb(100,200,255);
	background-color:rgb(0,50,100);
}

.button .profile-button span{
	margin-right:10px;
}

.department-text{
	position:relative;
	top:-18px;
}

.title{
	margin-top:0px;
	padding-top:0px;
}

#information .profile-button{
	height:100%;
	width:100%;

	background-color:rgba(255,255,255,0);

	font-size:20px;
	font-weight:bold;

	margin:0px;
	border:0px;
	padding:0px;
}

#information .title span{
	position:relative;
	
	font-size:1em;	

	top:55px;
	left:-30px;
}

.box-about{
	color:white;
	background-color:rgb(120,0,0);
}

.box-mentor{
	color:black;
	background-color:rgb(100,255,100);
}

.box-mentee{
	color:black;
	background-color:rgb(250,250,0);
}

.box-moreinfo{
	color:white;
	background-color:rgb(0,50,50);
}

.box-mentee img{
	position: relative;
	height:214px;
	left:0px;
}

#box-data .box{
	padding: 15px;
	width:98%;
	height:347px;

	overflow-y:auto;
}

/*data manipulation here*/
#box-data{
	display:none;
	height:100%;
}

#box-data .box:before{
	padding-top:0;

	z-index:-5;
}

#box-data hr{
	margin-top:0px;
}

#information .glyphicon{
	position: relative;
	float:left;

	margin-right:13px;
}

#information img{
	position:relative;
	float:left;

	margin-left:0px;
	margin-top:0px;
	margin-bottom:0px;
	width:283px;
}

#information table{
	margin-bottom:0px;
}

#information hr{
	margin-bottom:10px;
}

#mentor-data .mentor-data-content{
	position:relative;

	padding:10px;
	margin-top:15px;
	margin-left:12.9%;
	
	width:530px;
	height:170px;

	background-color:rgba(0,0,20,.3);
}

.mentor-data-content-image{
	position:relative;
	float:left;
	
	left:0%;

	width:150px;
}

.mentor-data-content-text{
	position:relative;
	float:left;

	margin-left:10px;
	margin-right:0px;
	margin-top: 0px;

	width:250px;

	font-size:90%;
}

.mentor-data-content-text strong,.mentor-data-content-text p{
	margin-bottom:0px;
	float:left;
}

.mentor-data-content-text table{
	width:350px;
}

.mentor-data-content-text .row-header{
	width:120px;
}

#mentor-data .mentor-navigation{
	position:relative;
	float:left;

	height:100px;
	width:530px;
	background-color:rgba(0,0,0,0);

	margin-left:12.9%;

	cursor:pointer;
}

#mentor-data .mentor-navigation p{
	margin-top:15px;
}

#mentor-data a{
	color:black;
	font-size:2em;
}

#mentor-data .mentor-link:hover{
	border-top:10px solid rgba(0,0,150,1);

	padding-top:0px;

	color:gray;

	cursor:pointer;
}

#mentor-data .mentor-link{
	position:relative;
	float:left;

	padding-top:10px;

	height:100%;
	width:50%;
	background-color:rgba(100,100,100,0);

}

.mentee-1, .mentee-2, .mentee-3{
	float:left;
	
	width:550px;
}

.mentee-data-content .table{
	float:left;
	width:100%;
}

.mentee-image-container{
	height:280px;
	width:110px;

	float:left;

	overflow-y:auto;
}

.mentee-image-container::-webkit-scrollbar {
	width: 1px;
}
 
.mentee-image-container::-webkit-scrollbar-track {
	background-color:rgba(255,255,255,1); 
	border-radius: 0px;
}
 
.mentee-image-container::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color:gray;
}

#information .mentee-data-image{
	width:100px;

	margin:5px;
	border:0px;
	padding:0px;
}

#information .mentee-data-image img{
	width:100px;

	margin:0px;
	border:0px;
	padding:0px;
}

#mentee-data .mentee-data-content{
	position:relative;
	left:15px;
	top:16px;
}

#mentee-data a{
	width:100%;
	height:120px;

	border:0px;

	color:rgba(50,50,50,1);
}

#mentee-data p{
	margin-bottom:0px;
}

a:hover{
	text-decoration:none;
}

#mentee-data .mentee-content:hover{
	height:110px;
	width:100%;

	background-color:rgba(0,50,100,0.2);

}

.row-head{
	width:300px;
}

.hidden{
	display:none;
}

/*xs*/
@media screen and (max-width: 400px){
	#profile-bar{
		margin: 1%;
	}

	#profile-bar .box{
		width:50%;
		margin:0px;
	
		font-size:8px;
	}

	#information .box{
		width:48%;
		height:40px;

		margin-bottom:0px;

		margin-left:1%;
		margin-right:1%;
	}

	#information .title span{
		position:relative;

		margin:0px;
		top:0px;
		left:0px;
	}

	#information #box-data .box{
		height:345px;
		width:98%;
	}

	#mentor-data .mentor-data-content-text{
		font-size:8px;

		width:100%;
		margin-left:10px;
	}

	#mentor-data h5{
		font-size:11px;
	}

	#mentor-data .mentor-data-content-image{
		position:relative;
		left:40%;
		width:20%;
	
		margin-left:0px;

		box-shadow:1px 1px 5px black;
	}

	#mentor-data .mentor-data-content-image img{
		display:none;
	}

	#mentee-data .mentee-1, #mentee-data .mentee-2, #mentee-data .mentee-3{
		margin-left:10px;
		width:70%;
	}

}

/*sm*/
@media screen and (min-width:399px) and (max-width: 770px){
	#profile-bar{
		margin: 1%;
	}

	#profile-bar .box{
		width:50%;
		margin:0px;
	}

	#information .box{
		width:48%;
		height:50px;

		margin-left:1%;
		margin-right:1%;
	}

	#information .title span{
		position:relative;

		margin:0px;
		top:0px;
		left:0px;
	}

	#information #box-data .box{
		height:345px;
		width:98%;
	}

	#mentor-data .mentor-data-content-text{
		width:100%;
		margin-left:10px;
	}

	#mentor-data .mentor-data-content-image{
		position:relative;
		left:40%;
		width:20%;
	
		margin-left:0px;

		box-shadow:1px 1px 5px black;
	}

	#mentee-data .mentee-1, #mentee-data .mentee-2, #mentee-data .mentee-3{
		margin-left:10px;
		width:70%;
	}
}

/*md*/
@media screen and (min-width:769px) and (max-width: 1000px){
	#profile-bar .box{
		width:50%;
		margin:0px;
	}

	#information .box{
		width:369px;
		height:50px;

		margin-left:3px;
		margin-right: 3px;
	}

	#information .title span{
		position:relative;

		margin:0px;
		top:0px;
		left:0px;
	}

	#information #box-data .box{
		height:345px;
		width:99.1%;
	}

	#mentor-data .mentor-data-content-text{
		width:58%;
	}

	#mentee-data .mentee-1, #mentee-data .mentee-2, #mentee-data .mentee-3{
		margin-left:10px;
		width:80%;
	}
}

/*lg*/
@media screen and (min-width:999px) and (max-width: 1200px){
	#profile-bar .box{
		width:48.79%;
		margin:0px;
	}

	#information .box{
		margin-left:0px;
		margin-right: 11.7px;
	}

	#information #box-data .box{
		width:97.5%;
	}

	#mentor-data .mentor-data-content-text{
		width:67%;
	}

	#mentee-data .mentee-1, #mentee-data .mentee-2, #mentee-data .mentee-3{
		width:85%;
	}
}

/*normal size*/
@media screen and (min-width:1199px) and (max-width: 1400px){

}

.blank-space-baby{
	height:19px;
	width:100%;
}