body{
	height:100%;
}

#containerMAIN{
	height:100%;
	padding-top:90px;
}

#information{
	position:relative;

	width:100%;

	top:-6px;
}

#information .box{
	width:170px;
	margin-right:5px;
	margin-left:5px;
}

#profile-bar .box, #profile-bar .button .profile-button{
	background-color:rgb(0,50,100);

	margin-top:0px;
	margin-bottom:0px;
}

#profile-bar .box{
	color:white;
}

.box-group .box{
	width:220px;
	margin-right:0;
	margin-left:0;
}

.box-group .box:before{
	padding-top:97%;
}

.box-group img{
	height: 221px;
}

.box-group .button .box:before{
	padding-top:0px;
}

.box-group .button .box{
	height:50px;
}

.box{
	position: relative;
	float:left;

	margin-top:5px;
	margin-right:10px;
	margin-bottom:5px;

	width: 215px;
	
	color:black;
	background-color: rgba(200,200,200,0.9);

}

.box h1, .box h2, .box h3, .box h4{
	font-weight:bold;
}

.box:before{
	content: "";
	display: block;
	padding-top: 100%; 	
}

.profile-content{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.text{
	padding-left:20px;
	padding-right:20px;
	padding-top: 18px;
}

.button .profile-button{
	color:white;

	height:100%;
	width:100%;

	border:0px;
}

.button .profile-button:hover{
	color:rgb(100,200,255);
}

#information .profile-button:hover{
	color:rgb(100,200,255);
	background-color:rgb(0,50,100);
}

.button .profile-button span{
	margin-right:10px;
}

.department-text{
	position:relative;
	top:-18px;
}

.title{
	margin-top:0px;
	padding-top:0px;
}

#information .profile-button{
	height:100%;
	width:100%;

	background-color:rgba(255,255,255,0);

	font-size:20px;
	font-weight:bold;

	margin:0px;
	border:0px;
	padding:0px;
}

#information .title span{
	position:relative;
	top:60px;
	left:-40px;
}

.box-about{
	color:white;
	background-color:rgb(120,0,0);
}

.box-mentor{
	color:black;
	background-color:rgb(100,255,100);
}

.box-mentee{
	color:black;
	background-color:rgb(250,250,0);
}

.box-moreinfo{
	color:white;
	background-color:rgb(0,50,50);
}

.box-mentee img{
	position: relative;
	height:214px;
	left:0px;
}

#box-data .box{
	padding: 15px;
	width:710px;
	height:347px;

	overflow-y:auto;
}

.box-mentor img{
	position:relative;
	height:214px;
	left:7px;
}

/*data manipulation here*/
#box-data{
	display:none;
	height:100%;
}

#box-data .box:before{
	padding-top:0;

	z-index:-5;
}

#box-data hr{
	margin-top:0px;
}

#information .glyphicon{
	position: relative;
	float:left;

	margin-right:13px;
}

#information img{
	position:relative;
	float:left;

	margin-left:10px;
	margin-top:0px;
	margin-bottom:0px;
	width:283px;
}

#information table{
	margin-bottom:0px;
}

#information hr{
	margin-bottom:10px;
}

.mentor-data-content-image{
	float:left;
}

.mentor-data-content-text{
	float:left;

	margin-right:0px;

	height:281px;
	width:365px;
}

#mentor-data{
	overflow:hidden;
}

.mentee-1, .mentee-2, .mentee-3{
	float:left;
	
	width:550px;
}

.mentee-data-content .table{
	float:left;
	width:100%;
}

.mentee-image-container{
	height:280px;
	width:110px;

	float:left;

	overflow-y:auto;
}

.mentee-image-container::-webkit-scrollbar {
	width: 1px;
}
 
.mentee-image-container::-webkit-scrollbar-track {
	background-color:rgba(255,255,255,1); 
	border-radius: 0px;
}
 
.mentee-image-container::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color:gray;
}

#information .mentee-data-image{
	width:100px;

	margin:5px;
	border:0px;
	padding:0px;
}

#information .mentee-data-image img{
	width:100px;

	margin:0px;
	border:0px;
	padding:0px;
}

#information .mentee-data-image button{
	margin:0px;
	border:0px;
	padding:0px;
}

.row-head{
	width:300px;
}

.hidden{
	display:none;
}

.blank-space-baby{
	height:19px;
	width:100%;
}