body{
	height:100%;
}

#containerMAIN{
	height:100%;
	padding-top:90px;
}

#information{
	position:relative;

	width:100%;

	left:-55px;
	top:-6px;
}

#information .box{
	width:175px;
	margin-right:5px;
	margin-left:5px;
}

#profile-bar .box, #profile-bar .button button{
	background-color:rgb(0,50,100);

	margin-top:0px;
	margin-bottom:0px;
}

#profile-bar .box{
	color:white;
}

.box-group .box{
	width:220px;
	margin-right:0;
	margin-left:0;
}

.box-group .box:before{
	padding-top:97%;
}

.box-group img{
	height: 221px;
}

.box-group .button .box:before{
	padding-top:0px;
}

.box-group .button .box{
	height:50px;
}

.box{
	position: relative;
	float:left;

	margin-top:5px;
	margin-right:10px;
	margin-bottom:5px;

	width: 215px;
	
	color:black;
	background-color: rgba(200,200,200,0.99);

}

.box h1, .box h2, .box h3, .box h4{
	font-weight:bold;
}

.box:before{
	content: "";
	display: block;
	padding-top: 100%; 	
}

.profile-content{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.text{
	padding-left:20px;
	padding-right:20px;
	padding-top: 18px;
}

.button button{
	color:white;

	height:100%;
	width:100%;

	border:0px;
}

.button button:hover, #information button:hover{
	color:rgb(100,200,255);
}

.button button span{
	margin-right:10px;
}

.department-text{
	position:relative;
	top:-18px;
}

.title{
	margin-top:0px;
	padding-top:0px;
}

#information button{
	height:100%;
	width:100%;

	background-color:rgba(255,255,255,0);

	font-size:20px;
	font-weight:bold;

	margin:0px;
	border:0px;
	padding:0px;
}

.box-about{
	color:white;
	background-color:rgb(120,0,0);
}

.box-mentor{
	color:black;
	background-color:rgb(100,255,100);
}

.box-mentee{
	color:black;
	background-color:rgb(250,250,0);
}

.box-moreinfo{
	color:white;
	background-color:rgb(0,50,50);
}

.box-mentee img{
	position: relative;
	height:214px;
	left:0px;
}

.box-mentor img{
	position:relative;
	height:214px;
	left:7px;
}


.blank-space-baby{
	height:100px;
	width:100px;
}