body {
	font: 14px "Segoe UI Light", sans-serif;
	color:#f4f4f4;
	background:url('images/wallpaper2.png') repeat-y center center;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	background-color: #1b58b8;
}

a{
	color: black;
	font-weight: bold;
}

a:hover, a:focus {
	color: white;
	text-decoration:none;
}

@font-face {
	font-family: headerText;
	src: url('/fonts/slabo.ttf');
}

.title-header{
	font-family: headerText;
	text-transform:;

	/*background-color:rgba(240,240,240,1);*/
	width:100%;
	height:100%;
	margin-top:00px;
	padding-left:10px;
	padding-top:30px;

}

.title-header h2{
	color:rgba(255,255,255,1);
	font-weight:normal;
	margin-top:0px;
	padding-top:0px;
}

/*
.logbook-header{
	background-image:url('../images/titleheader/laptop-asset.jpg');
	background-size:100% auto;
	background-repeat:none;
	background-position:center 1500px;

	color:black;
}

.announcement-header{
	background-image:url('../images/titleheader/abstract-1.jpg');
	background-size:100% auto;
	background-repeat:none;
	background-position:center 95px;

	color:white;
}*/

.accountvalidator-header{
	/*background-image:url('../images/titleheader/tool.jpg');
	background-size:100% auto;
	background-repeat:none;
	background-position:center 920px;

	color:white;*/

	margin-bottom:15px;
}

/*.announcementposter-header{
	background-image:url('../images/titleheader/sky.jpg');
	background-size:100% auto;
	background-repeat:none;
	background-position:0px 00px;

	color:black;
}

.announcementhistory-header{
	background-image:url('../images/titleheader/vintage.jpg');
	background-size:150% auto;
	background-repeat:none;
	background-position:900px 95px;

	color:white;
}

.ysers-header{
	background-image:url('../images/titleheader/glass.jpg');
	background-size:100% auto;
	background-repeat:none;
	background-position:0px 0px;

	padding-left:15px;
	color:white;
}
*/
.profile-header{
	/*background-image:url('../images/titleheader/tree.jpg');
	background-size:100% auto;
	background-repeat:none;
	background-position:0px 100px;
	*/
	width:98.665%;
	margin-top:-28px;
	margin-bottom:15px;
	margin-left:5px;
	color:white;
}

#header {
	z-index:1001;
	background-color: #103570;
	position: fixed;
	width:100%;
}

#containerMAIN{
	padding-top: 61px;
}

#name {
	margin-top:10px;
}

.post {
	margin-bottom:12px;
	margin-top:12px;
	color:black;
	padding:15px;
	overflow-wrap: break-word;
	background-color:rgb(210,210,210);
}

.post-PAD {
	background:#f8d548;
}

.post-JPAD {
	background:#61EB44;
}

.post-HR {
	background:#70e2e1;
}

.post-Scho {
	background:#e5af83;
}

.post-Sec {
	background:#5ef644;
}

.post-VL {
	background:#2faaf7;
}

.post-Exec {
	background:#e3e3e3;
}

.post-Fin {
	background:#ed6c5f;
}

.no-bullets {
	list-style:none;
	padding:0;
}

.padding-vert {
	padding-left:5px;
	padding-right:5px;
}

.label {
	border-radius:0;
	font-weight:normal;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	font-size:100%;
}

.label-PAD {
	background:#e01313;
}

.label-HR {
	background:#606ef5;
}

.label-Scho {
	background:#f0ed00;
}

.label-Sec {
	background:#d63ef1;
}

.label-VL {
	background:#562c7c;
}

.label-Exec {
	background:#585858;
}

.label-Fin {
	background:#37c51b;
}

.title {
	margin-top:10px;
}

.op {
	font-size:95%;
}

.date {
	font-size:80%;
}

.mini-pic {
	width:50px;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
}

.tile {
	padding:3px;
}

.btn-name {
	float:right;
	width: auto;
	height: 60px;
	border:0;
	background:none;
	margin-right:0px;
	margin-left:12px;
	margin-top:0px;
	margin-bottom:0px;
}

.btn-name:hover {
	background:rgba(255,255,255,.1);
	color:rgb(180,180,180);
}

.metro-dropdown {
	width:55%;
	border:0px black solid;
	border-radius:0;
	top:98%;
	left:45%;
	box-shadow:none;
	z-index:10;
	right:inherit;
}

.bold {
	font-weight:bold!important;
}

@media (max-width: 767px) {
	#header	{width:100%;}
	#announcementBox {
		height:150px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#header	{width:100%;}
	#announcementBox{
		height:193px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	#header	{width:100%;}
	#announcementBox{
		height:235px;
	}
}

@media (min-width: 1200px) {
	.hoverClose{
		visibility:hidden;
	}
	.post:hover .hoverClose{
		visibility:visible;
	}
}

.navbar-header{
	height:60px;
}

#logo{
	position: relative;
	float:left;
	margin-left: 10px;
	margin-right: 15px;
	top:-6px;
	width:35px;
	height:auto;
}

#central-title{
	position:relative;
	float:left;
	top:5px;
}

#navigation-buttons{
	position:fixed;
	float:right;
	right:5%;
}

#phone-nav-button{
	top:5px;
	right:10px;
}

#chatbox{
	background-color: black;
	width:100%;
	height:200px;

	z-index:10;
	overflow-y:visible;
}

#nav-button-group{
	float:right;

	margin-left:0px;
	margin-right:0px;

	width:120px;
	height:60px;
}

#chatbox-icon, #logbook-icon, #department-icon{
	position:relative;
	float:right;

	margin-top:5px;
	margin-left:10px;
	right:0%;

	height:100%;
	width:25%;

	max-height: 100%;
}

span.glyphicon-send, span.glyphicon-pencil, span.glyphicon-list{
	color:rgb(255,255,255);

	top:15px;
	font-size: 1.50em;
}

span.glyphicon-send:hover, span.glyphicon-list:hover, span.glyphicon-pencil:hover{
	color:rgb(120,120,120);
}

#department-button-container{
	position:fixed;

	top:61.2px;
	left:0px;

	height:auto;
	width:100%;
	padding-bottom:10px;

	display:none;

	background-color:rgba(23,15,130,0.8);
}

#department-button-container .department-logo{
	position:relative;

	margin-right:30%;
	width:80px;
}

.wheel{
	position:relative;
	padding:0px;
	left:0px;

	margin-bottom:0px;
	margin-top:0px;

	display:none;
}

body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom
{
	margin-right: 0px;
}

#logbookModal{
	color:black;
}

#logbookModal .modal-backdrop{
	margin-right:100px;
	width:100%;
	height:100%;
	overflow:scroll;
}

#logbookModal .modal-dialog{
	width:400px;
	margin-left:66%;
	top:50px;
}

#logbookModal .modal-content{
	position:relative;

	width:400px;

	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border:0px;
}

#logbookModal .modal-body textarea{
	height:70px;
	width:100%;

	margin:0px;

	resize:none;
}

#logbookModal .modal-body{
	padding-top:0px;
	padding-bottom:0px;
}

#logbookModal .modal-header{
	height:45px;
	border:0px;
}

#logbookModal .modal-footer{
	padding-top:7px;
	height:55px;
	border:0px;
}

body .overlimit{ color:red; }

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background-color:rgba(255,255,255,1);
	border-radius: 0px;
}

::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color:rgba(0,0,0,1);
}

#chatbox-icon .tooltip{
	margin-top:10px;
	width:120px;
}

#logbook-icon .tooltip{
	margin-top:10px;
	width:120px;
}

#department-icon .tooltip{
	margin-top:10px;
	width:150px;
}

#central-title .tooltip{
	margin-top:5px;
	width:150px;
}


/* For ajax load */

.load-screen {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 0, 0, 0, 1 )
                url('/images/circle-tri.gif')
                50% 50%
                no-repeat;
}

body.loading {
    overflow: hidden;
}

body.loading .load-screen {
    display: block;
}
