.gallery {
	width: 25em;
	margin: 2em auto;
}

.gallery-item {
	height: 42px;
	width: 100%;
	float: left;
	position: relative;

	float:left;

	cursor:default;
}

.gallery-item:first-child {
	margin-right: 2.762430939%;
}

.gallery-item img {
	width: 100%;
}

.gallery-item:hover .img-title {
	/*opacity: 1;*/
}

.img-title {
	position: absolute;
	top: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	/*opacity: 0;*/
	display: none; /* comment this out for CSS hover */
	background-color: #333;
	/*transition: all 0.5s ease;*/
}

.img-title h5 {
	position: absolute;
	color: #fff;
	top: 0;
	width: 100%;
	text-align: center;
}