#wrap {
  color:white;
  min-height:550px;
}

#buttonOptions  {
  border-radius:0px;
  border: none;
  background: #FFF637;
  padding:10px 20px 10px 20px;
}

#buttonOptions > .caret {
  margin-left:10px;
}


#YSERs  {
  font-size: 45px;
}

#resultText  {
  font-size:18px;
}

#result {
  margin-top:20px;
}

.All {
  width:80%;
}

.popover.bottom>.arrow {
  left:92% !important;
}

.popover {
  border-radius:0;
  border:0;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  color:black;
  padding-left:10px;
  padding-right:10px;
  min-width:650px;
  color:black;
  z-index:1000;
  position:absolute !important;
  top:100% !important;
  left:-523% !important;
}

.dropdown-label-1 {
  font-size:20px;
  font-weight:bold;
}

.dropdown-label-2 {
  font-size:16px;
}

.pic  {
  margin-bottom:15px;
  width:90%;
  position:relative;
  border: rgba(100,100,100,0.75) 1px solid;
}

.pic img  {
  width:100%;
}

.sort-label {
  font-size:20px;
  font-weight:bold;
}

.btm-label  {
  display:none;
}

.btm-label-gradient {
  position:absolute;
  bottom:0;
  height:80%;
  width:100%;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 69%, rgba(0,0,0,0.9) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(69%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0.9))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 69%,rgba(0,0,0,0.9) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 69%,rgba(0,0,0,0.9) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 69%,rgba(0,0,0,0.9) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 69%,rgba(0,0,0,0.9) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e6000000',GradientType=0 ); /* IE6-9 */
}

.btm-label-text {
  position:absolute;
  bottom:5%;
  width:100%;
  color:white;
  font-size:12px;
}

.btm-label-text > p  {
  margin:0;
  margin-left:5px;
}

.btn  {
  border-radius:0;
}

.btn-batch  {
  width:100%;
}

.btn-all  {
  width:95%;
}

.btn-container {
  padding-left:5px;
  padding-right:5px;
}
